<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='site.css') }}">
</head>
<body>
<h1>welcom to flask</h1>
<h2>{{ title | safe }}</h2>
<h1>ni</h1>
<nav>
    <a href="{{ url_for('.service') }}">service</a>
    <a href="{{ url_for('.about') }}">About</a>

</nav>
{{ body | md | safe }}
{% autoescape false %}
{{ title }}
{% endautoescape %}
{% set links=[
        {'label':'Home','href':url_for('.index')},
        {'label':'About','href':url_for('.about')},
        {'label':'Service','href':url_for('.service')},
        {'label':'Project','href':url_for('.project')},
        ] %}
<nav>
    {% for link in links %}
        {% if not loop.first %}|{% endif %}
        <a href="{{ link.href }}">{{ link.label }}</a>
    {% endfor %}
</nav>
</body>
</html>